{{ partial "navbar.html" . }}
{{ partial "navbar-clone.html" . }}

<section class="section is-medium">
  <div class="container">
    <div class="columns">
      <div class="column is-centered-tablet-portrait">
        <h1 class="title section-title">{{ .Title }}</h1>
        <h5 class="subtitle is-5 is-muted">{{ .Params.Subtitle }}</h5>
        <div class="divider"></div>
      </div>
    </div>

    <div class="content">
      {{ .Content }}
    </div>

    <ul>
      <!-- Ranges through content/posts/*.md -->
      {{ range .Pages }}
      <li class="news">
	<strong><a href="{{.Permalink}}">{{.Title}}</a></strong> &mdash; {{.Date.Format "2006-01-02"}}
        <p><span class="icon-box-text">{{.Summary}}</span></p>
      </li>
      {{ end }}
    </ul>

  </div>
</section>

