/* red #EE4036 */
/* blue #262261 */
body, button, input, select, textarea {
    font-family: Montserrat,helvetica neue,helvetica,arial,sans-serif;
}
body {
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
div.content a {
    text-decoration: underline;
}
p.news a {
    text-decoration: none;
}

/* Define labels for partnershub. */
.label {
  color: white;
  padding: 8px;
  background-color: #262261;
}
/* End label definition. */
.title.is-1 {
    /*font-size: 27pt;*/
}
.subtitle.is-5 {
    font-size: 20pt;
}
.section.is-medium {
    padding: 4rem 1.5rem;
}
.ospo-zone-members .members-img {
    max-height: 95px;
    max-width: 170px;
    padding: 10px;
    margin: 20px;
    vertical-align: middle;
}
.ospo-zone-members ul {
    margin: 20px;
    list-style: none;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.ospo-zone-members ul li {
    list-style: none;
    display: inline-block;
}
/* menu */
.navbar.is-fresh .navbar-item.has-dropdown:hover .navbar-link::after {
    border-color: #ee4036;
}
.navbar.is-fresh .navbar-item .is-secondary {
    color: #333;
}
.navbar.is-fresh .navbar-item.has-dropdown .navbar-link::after {
    top: 55%;
    height: .5em;
    width: .5em;
    border-width: 2px;
    border-color: #333;
}
.navbar.is-fresh .navbar-item.has-dropdown .navbar-dropdown {
    top: 3.4rem;
    min-width: 220px;
    margin-top: 4px;
    border-top-color: #ee4036;
}
.navbar.is-fresh .navbar-item.is-secondary:hover {
    color: #ee4036 !important;
}
.navbar.is-fresh .navbar-item.has-dropdown:hover .navbar-link {
    color: #ee4036;
}
/* top background: */
.hero.is-halfheight .hero-body, .hero.is-fullheight .hero-body {
    align-items: center;
    display: flex;
    background-image: url(/images/home-jumbotron.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* caption: */
.column.is-5.is-offset-1.landing-caption {
    text-align: center;
    background-color: #fff9;
    border-radius: 2.5em;
    box-shadow: 0 0 10px #0005;
    padding: 20px;
}
/* title 1: */
.hero-body .title.is-bold {
    font-weight: 600;
}
.hero-body .title, .hero-body .subtitle {
    color: #262261;
}
/* sub-title 1: */
.hero-body .subtitle.is-muted {
    color: #333;
}
/* button: */
.button.primary-btn {
    outline: none;
    border-color: #EE4036;
    background-color: #EE4036;
    color: #fff;
    transition: all .5s;
}
/* title 2 */
.title-wrapper .title, .title-wrapper .subtitle {
    color: #262261;
}
/* subtitle 2*/
.title-wrapper .subtitle.is-muted {
    color: #333;
}
/* divider 2 */
.divider {
    height: 3px;
    border-radius: 50px;
    background: #EE4036;
    width: 60px;
}
/* card-title */
.feature-card .card-title h4 {
    padding-top: 25px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #262261;
}
/* card-text */
.feature-card .card-text p {
    color: #333;
}
/* card-button */
.button.button.accent-btn {
    outline: none;
    border-color: #262261;
    background-color: #262261;
    color: #fff;
    transition: all .5s;
}
/* section title */
.section .title, .section .subtitle {
    color: #262261;
}
/* section subtitle */
.section .subtitle.is-muted {
    color: #ee4036;
}
/* news */
strong {
    color: #262261;
    font-weight: 700;
}
a {
    color: #262261;
    cursor: pointer;
    text-decoration: none;
}
/* section 4 */
.section.section-secondary {
    background-color: #ee4036;
}
/* footer */
footer.footer-dark {
    background: #262261;
    color: #fff;
}
/* footer-logo : https://www.ow2.org/download/OSS_Governance/WebHome/OSPO_Alliance_Logo_wide_OneColor.svg */
footer.footer-dark .footer-logo img {
    height: auto;
}
/* footer-header */
footer.footer-dark .footer-column .footer-header h3 {
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #EE4036;
}
/* footer link list */
footer.footer-dark .footer-column ul.link-list a {
    color: #fff;
    font-weight: 400;
    transition: all .5s;
}
footer.footer-dark .footer-column .level-item .icon {
    color: #ee4036;
    transition: all .5s;
}

/* .button.button.accent-btn { */
/*   outline: none; */
/*   border-color: #f39200; */
/*   background-color: #f39200; */
/*   color: #fff; */
/*   transition: all .5s; */
/* } */

/* .button.primary-btn { */
/*   outline: none; */
/*   border-color: #f39200; */
/*   background-color: #f39200; */
/*   color: #fff; */
/*   transition: all 0.5s; */
/* } */

li.news {
    margin: 30px 0;
}

p.news {
    margin: 10px 0;
}

#backtotop a:after {
    content: none;
    font-family: none;
}
